.body {
    font-family: "Lato", sans-serif;
    padding-top: 80px;
    background-color: #686868;
    padding-left: -2px;
    padding-right: 12px;
}

/*login-register*/
    .form-input {
    width: 96%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px; 
    }
    .login-button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    }
    .log {
    margin-top: 200px;
    padding: 24px;
    max-width: 500px;
    background-color: white;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

/* Navbar */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Navbar container */
  .navbar {
    background: linear-gradient(90deg, #4b6cb7, #182848);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 2rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
  }

  /* Navbar brand/logo */
  .navbar .brand {
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 1px;
    user-select: none;
    cursor: default;
  }

  /* Nav menu list */
  .navbar a {
    gap: 2rem;
    color: white;
    text-decoration: none;
    font-weight: 600;
    position: relative;
  }


/* Container */
.table-container {
    margin-top: 8px;
    padding: 24px;
    max-width: 1200px;
    background-color: white;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Button */
.btn {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin-right: 8px;
    font-family: "Lato", sans-serif;
}

.btn-red {
    background-color: #e90000;
}

.btn-blue {
    background-color: #007BFF;
}

.btn-green {
    background-color: #28a745;
}

.btn:hover {
    opacity: 0.85;
}

.form-label {
    font-weight: bold;
    display: block;
    margin-bottom: 4px;
    margin-top: 9px;
    color: #000000;
}

.area_txt{
  width: 100%;
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* supaya padding tidak nambah lebar */
  transition: border-color 0.3s;
  font-family: Arial, sans-serif;
  resize: vertical; /* hanya textarea yang bisa diresize vertical */
}

