body {
    font-family: "Lato", sans-serif;
    padding-top: 70px;
    background-color: #f5f5f5;
}
.judul {
    text-align: center;
    padding: 40px 0;
}


.form-container {
    max-width: 600px;
    margin: auto;
    background-color: white;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form-label {
    font-weight: bold;
}


.btn-group {
    margin-top: 16px;
}
